
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
    background-color: #eee;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

<<<<<<< HEAD
#siteHead {
=======
#head {
>>>>>>> master
  width: 100%;
  height: 105px;
  float: left;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
<<<<<<< HEAD
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
}

#siteHead .holder {
=======
  background-color: #eee;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
}


// .product-button {
//   border: 2px solid white;
//   background-color: #9D4A45;
//   padding: 17px 40px;
//   width: 58px;
//   margin: auto;
//   text-align: center;
//   text-decoration: none;
//   color: #fff;
// }
.product-button img {
    width: 100px;
    height: 100px;
    margin: auto 55px;
}

.product-button img:hover {
    border-radius: 5px;
    background-color: #eee;
    // box-shadow: 0 0 25px 5px rgba(0,0,0,0.35);
}

.products {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 77px;
  // border: 2px solid black;
  width: 90%;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
}

.footer {
    margin-top: 10px;
    border: 2px solid black;
    left:0px;
    bottom:0px;
    width:100%;
    background: #5F6062;
    color: #fff;
    font-size: 13px;
}

.col-md-2 {
    margin: 0 auto;
}

.col-md-6 {
    padding: 0 30px 12px;
    margin: 24px 0;
}

@media (min-width: 992px){
    .col-md-6 {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
    }
}

label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    font-size: 85%;
    line-height: 160%;
    color: #444;
    display: block;
}
.holder {
>>>>>>> master
    position: relative;
    -ms-zoom: 1;
    zoom: 1;
}

<<<<<<< HEAD
#siteHead .holder .logoHolder {
=======
.logoHolder {
>>>>>>> master
    height: 105px;
    float: left;
    text-align: left;
    background-position: left top;
    background-repeat: no-repeat;
<<<<<<< HEAD
}

#siteHead .holder .logoHolder a {
    display: block;
    width: 100%;
    height: 105px;
    padding: 1.5em 0 0 2.75em;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#siteHead .holder .logoHolder img {
    max-width: none;
=======
    a {
        display: block;
        width: 100%;
        height: 105px;
        padding: 0 0 0 2.75em;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    img {
        max-width: none;
    }
  }
}

.call {
    position: absolute;
    padding: 0 1em;
    margin-bottom: 1.5em;
    top: 0;
    right: 2.5em;
    background-color: #EE7600;
    a{
        color: #fff;
        letter-spacing: 1.5px;
    }
}

.dropdown {
    position: absolute;
    right: 2.5em;
    top: 5em;
}

button {
    border: none;
    background-color: #eee;
}
.glyphicon-align-justify {
    font-size: 25px;
}

.address {
    position: absolute;
    right: 2.5em;
    top: 2em;
    text-align: right;
>>>>>>> master
}

.container-fluid {
  opacity: 0.9;
  -webkit-background-size: cover;
  background-size: cover;
  height: 570px;
  color: black;
  text-transform: uppercase;
  padding-top: 125px;
  a {
    text-decoration: none;
    color: #9D4A45;
  }
}

.main-nav {
  display: inline-block;
  margin-top: 35px;
  li {
    display: inline-block;
    margin: 5px;
    a {
      text-decoration: none;
      color: #fff;
      background-color: #9D4A45;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}

<<<<<<< HEAD
.product-button {
  border: 2px solid white;
  background-color: #9D4A45;
  padding: 17px 40px;
  width: 58px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.s-button {
  margin-top: 519px;
  margin-bottom: 77px;
  font-size: 15px;
  text-align: center;
  a {
    text-decoration: none;
    color: #fff;
  }
}

=======
>>>>>>> master
.title {
  text-align: center;
  margin-top: 20px;
  h2 {
    font-size: 55px;
    font-weight: bolder;
  }
  h3 {
    font-size: 45px;
  }
}

.paragraph {
  text-align: center;
  background-color: #eee;
  margin-right: 0px;
  padding-bottom: 25px;
  h2 {
  font-size: 36px;
  color: black;
  }
  p {
    font-size: 18px;
    color: gray;
    width: 625px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  a {
    padding-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
}

.carousel-inner .item img {
  height: 140%;
}

.slide {
  margin-top: 6px;
}

.slide1 {
  height: 400px;

}

.slide2 {
  height: 400px;
}

.slide3 {
  height: 400px;
}

.slide4 {
  height: 400px;
}

.picbox1 {
  padding-right: 0;
  padding-left: 0;
  img {
    border-top: 6px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;

  }
}

.picbox2 {
  padding-right: 0;
  padding-left: 0;

  img {
    border-top: 6px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 100%;
  }
}

.image-boxes {
  img {
  height: 424px;
  width: 100%;
  }
}
